.photo-container-outer {
  height: 100vh;
}

.photo-container-inner {
  position: relative;
}

.photo {
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: block;
  margin: 0 auto;
  width: 80%;
}

.icon {
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  top: calc(50% - 25px);
}

.icon.before {
  left: 5px;
}

.icon.next {
  right: 5px;
}

.caption {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  bottom: 0;
  color: white;
  left: 10%;
  margin: 0;
  min-height: 10%;
  position: absolute;
  text-align: center;
  width: 80%;
}
